<section class='container'>
	<div class='row bg-light login-section'>
		<div class='col-4'>
			<img src='{{user.img}}' alt='logo' class='img-fluid' />
		</div>
		<div class='col-8' style='padding: 50px 20px;'>
			<h1>Hola, {{user.first_name}} {{user.last_name}}</h1>

			<p>No te olvides de tus datos!!</p>

			<ul>
				<li><b>Nombre: </b>{{user.first_name}}</li>
				<li><b>Apellido: </b>{{user.last_name}}</li>
				<li><b>Correo: </b>{{user.email}}</li>
			</ul>
		</div>
	</div>
</section>